<ion-content class="cadastro-content" fullscreen>
  <ion-buttons class="back-btn-container">
    <ion-button fill="clear" (click)="goBack()">
      <span class="svg-arrow">
        <svg width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15 18L9 12L15 6" stroke="#fff" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </span>
    </ion-button>
  </ion-buttons>
  <div class="cadastro-main">
    <div class="cadastro-img-container">
      <img src="assets/logo.png" alt="Logo" class="cadastro-img" />
    </div>
    <div class="cadastro-bottom-card">
      <div class="page-title">Cadastre-se</div>
      <form class="cadastro-form" (ngSubmit)="enviar()">
        <div class="input-group">
          <label for="nome">Nome*</label>
          <ion-input id="nome" [(ngModel)]="nome" name="nome" required></ion-input>
        </div>
        <div class="input-group">
          <label for="celular">Celular*</label>
          <ion-input id="celular" [(ngModel)]="celular" name="celular" required></ion-input>
        </div>
        <div class="input-group">
          <label for="email">Email</label>
          <ion-input id="email" [(ngModel)]="email" name="email" type="email"></ion-input>
        </div>
        <ion-button expand="block" class="btn-primary" type="submit">ENVIAR</ion-button>
      </form>
    </div>
  </div>
</ion-content>
