<ion-content class="onboarding-content" fullscreen>
  <div class="onboarding-card">
    <div class="onboarding-icon">
      <ion-icon name="person-circle-outline" size="large"></ion-icon>
    </div>
    <h2 class="impact-phrase">
      <b>Controle suas finanças facilmente</b>
    </h2>
    <p class="desc">Organize suas finanças, defina metas e alcance seus objetivos financeiros de forma simples e eficiente.</p>
    <div class="dots">---</div>
  <ion-button expand="block" class="btn-primary" (click)="goToCadastro()">Registre-se</ion-button>
  <ion-button expand="block" fill="outline" class="btn-primary" (click)="goToLogin()">Já possuo cadastro</ion-button>
  </div>
</ion-content>
