<ion-content class="onboarding-content" fullscreen>
  <div class="onboarding-main">
    <div class="onboarding-img-container">
      <img src="assets/56.png" alt="Finance Illustration" class="onboarding-img" />
    </div>
    <div class="onboarding-bottom-card">
      <h2 class="impact-phrase">
      Organize seus gastos, defina metas e alcance seus objetivos financeiros!
      </h2>
      <div class="dots">
        <span class="dot active"></span>
        <span class="dot active"></span>
        <span class="dot active"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
      <ion-button expand="block" class="btn-primary" (click)="goToCadastro()">Cadastre-se</ion-button>
      <div class="already-registered">
        <a (click)="goToLogin()">Já estou cadastrado</a>
      </div>
    </div>
  </div>
</ion-content>
