
<ion-content class="login-content" fullscreen>
  <ion-buttons class="back-btn-container">
    <ion-button fill="clear" (click)="goBack()">
      <span class="svg-arrow">
        <svg width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15 18L9 12L15 6" stroke="#fff" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </span>
    </ion-button>
  </ion-buttons>
  <div class="login-main">
    <div class="login-img-container">
      <img src="assets/logo.png" alt="Logo" class="login-img" />
    </div>
    <div class="login-bottom-card">
      <div class="login-title">Bem vindo novamente!</div>
      <div class="login-subtitle">Acesse sua conta</div>
      <form class="login-form" (ngSubmit)="next()">
        <div class="input-group">
          <label for="email">Email</label>
          <ion-input id="email" [(ngModel)]="email" name="email" type="email" placeholder="Digite seu email" required></ion-input>
        </div>
        <div class="input-group">
          <label for="senha">Senha</label>
          <ion-input id="senha" [(ngModel)]="senha" name="senha" type="password" placeholder="Digite a senha" required></ion-input>
          <ion-icon name="eye-outline" class="input-eye"></ion-icon>
        </div>
        <div class="login-forgot">
          <a class="login-link" (click)="forgotPassword()">Esqueci minha senha</a>
        </div>
        <ion-button expand="block" class="btn-primary" type="submit" [disabled]="!email || !senha">Continuar</ion-button>
      </form>
      <div class="login-ou">
        <div class="linha"></div>
        <span>ou</span>
        <div class="linha"></div>
      </div>
      <div class="login-social">
        <button class="social-btn google"><ion-icon name="logo-google"></ion-icon></button>
        <button class="social-btn facebook"><ion-icon name="logo-facebook"></ion-icon></button>
        <button class="social-btn apple"><ion-icon name="logo-apple"></ion-icon></button>
      </div>
      <div class="login-cadastro">
        <a class="login-link" (click)="goToCadastro()">Criar conta</a>
      </div>
    </div>
  </div>
</ion-content>
