<ion-tabs>
  <ion-router-outlet></ion-router-outlet>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="metas">
      <ion-icon name="cash-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="gastos">
      <ion-icon name="wallet"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="feed">
      <ion-icon name="chatbox"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
