ion-tab-bar {
  --background: #181828;
  --color: #bdbdbd;
  --color-selected: #6C47FF;
  border-top: 1px solid #232336;
}
ion-tab-button {
  font-size: 1.7rem;
}
ion-tab-bar ion-icon {
  color: #fff !important;
  --ionicon-stroke-width: 32px;
  font-size: 2.1rem;
}
ion-tab-bar ion-tab-button[aria-selected="true"] ion-icon {
  color: #6C47FF !important;
}

