.splash-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #120f1e;
}
.splash-logo-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.splash-title-typewriter {
  margin-top: 12px; 
  font-size: 2.2rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
  font-family: 'Poppins', 'Montserrat', 'Roboto', Arial, sans-serif;
  min-height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.splash-subtitle {
  margin-top: 2px;
  color: #dfdede;
  font-size: 1.08rem;
  text-align: center;
  font-family: 'Poppins', 'Montserrat', 'Roboto', Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.splash-title-typewriter .type-cursor {
  color: #6C47FF;
  font-weight: 400;
  font-size: 1.7rem;
  margin-left: 2px;
  animation: blink 1s steps(1) infinite;
}
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
.splash-title-typewriter .din {
  color: #fcb842;
}
