
<ion-modal [isOpen]="showWelcome" [initialBreakpoint]="1" [breakpoints]="[0, 1]" (didDismiss)="closeWelcome()">
  <ng-template>
    <div class="welcome-modal">
      <img src="assets/logo.png" alt="Bem-vindo" class="welcome-img" />
      <div class="welcome-title">Bem-vindo ao OrganizaDin!</div>
      <div class="welcome-desc">Que tal começar com um tour pelos principais recursos que vão te ajudar a economizar?</div>
      <ion-button expand="block" class="btn-primary" (click)="closeWelcome()">OK, quero ver!</ion-button>
      <div class="welcome-cancel" (click)="closeWelcome()">Agora não</div>
    </div>
  </ng-template>
</ion-modal>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
